.header {
  color: #F9FAF8;
}

body, header, main {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #868f96 0%, #596164 100%);

}

.main {    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 128px 200px 128px;
  align-items: center;
  gap: 32px;
  flex-flow: wrap;
}


#title {
  font-size: 30px ;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.second-title {
  display: flex;
  font-size: 20px;
  justify-content:flex-start ;
  margin-left: 140px;
  font-style: italic;
}
.recipe-list {
  font-size: 16px;
  color: red;
  display: flex;
  justify-content: space-around;
  
  flex-direction: row;
}

.recipe-items a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer {
}

